<a routerLink="add" routerLinkActive="active">new</a>
<table>
  <th>Index</th>
  <th>Code</th>
  <th>Name</th>
  <th>Country</th>
  <th>Symbol</th>
  <th>Exchange Rate</th>
  <th>Created Date</th>
  <td>Edit</td>

  <tr *ngFor="let currency of currencies; let i = index">
    <td> {{ i + 1 }} </td>
    <td> {{ currency.code }} </td>
    <td> {{ currency.name }} </td>
    <td> {{ currency.country }} </td>
    <td> {{ currency.symbol }} </td>
    <td> {{ currency.exchangeRate | number:'6.0-6' }} </td>
    <td> {{ currency.createdDate | date:'short' }} </td>
    <td><a [routerLink]="['edit', currency.id]" routerLinkActive="active"></a>Edit</td>
  </tr>
</table>
