<a routerLink="add" routerLinkActive="active">new</a>
<table>
  <th>index</th>
  <th>name</th>
  <th>code</th>
  <th>country</th>
  <td>Edit</td>

  <tr *ngFor="let currency of currencies; let i = index">
    <td> {{ i + 1 }} </td>
    <td> {{ currency.code }} </td>
    <td> {{ currency.name }} </td>
    <td> {{ currency.country }} </td>
    <td> {{ currency.symbol }} </td>
    <td> {{ currency.createdDate }} </td>
    <td><a [routerLink]="['edit', currency.id]" routerLinkActive="active"></a></td>
  </tr>
</table>
