
<form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
  <div>
    <div>
      <label for="code">code</label>
      <input type="text" id="code" name="code" #code='ngModel' [(ngModel)]='currency.code' required appNameWithNoSpace>
      <!-- <div [hidden]="code.untouched || code.errors?.required" class="error">code is required</div> -->
      <!-- <div *ngIf="code.touched && !code.errors?.canNotContainSpace">code shouldn't contain any space</div> -->
      <p *ngIf="code.errors?.canNotContainSpace">
        code shouldn't contain any space
    </p>
    </div>
    <div>
      <label for="country">country</label>
      <input type="text" id="country" name="country" #country='ngModel' [(ngModel)]='currency.country' required>
      <div [hidden]="country.untouched || country.valid" class="error">currency is required</div>
    </div>
    <div>
      <label for="name">name</label>
      <input type="text" id="name" name="name" #name='ngModel' [(ngModel)]='currency.name' required>
      <div [hidden]="name.untouched || name.valid" class="error">name is required</div>
    </div>
    <div>
      <label for="symbol">symbol</label>
      <input type="text" id="symbol" name="symbol" #symbol [(ngModel)]='currency.symbol'>
      <div [hidden]="symbol.untouched || symbol.valid" class="error">symbol is required</div>
    </div>
    <div>
      <label for="symbol">Exchange Rate</label>
      <input type="text" id="exchangeRate" name="exchangeRate" #exchangeRate [(ngModel)]='currency.exchangeRate'>
      <div [hidden]="exchangeRate.untouched || exchangeRate.valid" class="error">Exchange Rate is required</div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]='form.invalid'>Save</button>
    <button (click)="onClear()">clear form</button>
    <a routerLink='/currencies'>Back to list</a>
  </div>
</form>
