<div id="sidebar" color="primary">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <img src="../../../../assets/images/angular.png" width="65px">
    <h1 class="logo">
   </h1>
  </mat-toolbar>
  <div class="mainmenu">
    <button mat-button [matMenuTriggerFor]="finance">
      <mat-icon>storefront</mat-icon>
      <span>finance</span>
    </button>

    <mat-menu #finance="matMenu">
      <button mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>currency</span>
      </button>

    </mat-menu>
  </div>
</div>
